body {
  background-color: white;
}
p {margin: 10px 0;
  padding: 5px 10px;
  border: 10px solid #cccccc;
  border-left-width: 15px;
  font-size: 40px;
  }
.n1 {
  color:green;
  text-decoration: line-through;
  background-color: yellow;
}
.n2 {
  color: blue;
  text-decoration: line-through;
  padding-left: 50px;
}
